$bg-navajo: #f3d2a0;
$text-green: #1b6655;
$white: #fff;
$heading-color: #095543;
$bg-yellow: #f1bf74;
$bg-light-green: #a3e2d385;
$bg-dark-green: #1b6854a1;
$underline-green: #044939;
$underline-darkGreen: #012c22;
$button-green: #1b6655;
$price-darkGreen: #013318;
$color-white: #f5f5f5;
$color-white-50: #f5f5f5ec;
$bg-navajo-glass: #fffffe46;
$bg-navajo-light: #f3d2a0c7;